
color: #CCC4C8;
 font-size: 35px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word

color: white;
 font-size: 35px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
// Contact
color: #F8ACFF;
 font-size: 35px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// Hi I’m<br/>
color: #E9E0E4;
 font-size: 90px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// A
color: #F8ACFF;
 font-size: 90px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// lex 
color: #E9E0E4;
 font-size: 90px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// F
color: #F8ACFF;
 font-size: 90px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// rizziero
color: #E9E0E4;
 font-size: 90px;
 font-family: Poppins;
 font-weight: 600;
 word-wrap: break-word
---
// Download CV
color: #570067;
 font-size: 35px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word
---
// Contact Me
color: #350040;
 font-size: 35px;
 font-family: Poppins;
 font-weight: 400;
 word-wrap: break-word