/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --color-primary: #f8acff;
  --color-on-primary: #570067;
  --color-primary-container: #780e8c;
  --color-on-primary-container: #ffd6ff;
  --color-primary-fixed: #ffd6ff;
  --color-on-primary-fixed: #350040;
  --color-primary-fixed-dim: #f8acff;
  --color-on-primary-fixed-dim: #780e8c;
  
  --color-secondary: #d7bfd5;
  --color-on-secondary: #3b2b3c;
  --color-secondary-container: #534153;
  --color-on-secondary-container: #f4dbf1;
  --color-secondary-fixed: #f4dbf1;
  --color-on-secondary-fixed: #251726;
  --color-secondary-fixed-dim: #d7bfd5;
  --color-on-secondary-fixed-dim: #534153;

  --color-tertiary: #f6b8ae;
  --color-on-tertiary: #4c2520;
  --color-tertiary-container: #673b34;
  --color-on-tertiary-container: #ffdad4;
  --color-tertiary-fixed: #ffdad4;
  --color-on-tertiary-fixed: #33110c;
  --color-tertiary-fixed-dim: #f6b8ae;
  --color-on-tertiary-fixed-dim: #673b34;

  --color-background: #1e1a1e;
  --color-on-background: #e9e0e4;
  --color-outline: #998d96;
  --color-outline-variant: #4d444c;
  --color-surface-tint: #f8acff;
  --color-surface: #161215;
  --color-on-surface: #ccc4c8;
  --color-surface-variant: #4d444c;
  --color-on-surface-variant: #d0c3cc;

  --color-surface-container: #221e22;
  --color-surface-container-highest: #383337;
  --color-surface-container-high: #2d292c;
  --color-surface-container-lowest: #100d10;
  --color-surface-container-low: #1e1a1e;
  --color-surface-dim: #161215;
  --color-surface-bright: #3c383b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: var(--color-surface-bright);
}

/* TRANSITION */

a, .btn {
  transition: all 300ms ease;
}

/* DESKTOP */

nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: var(--color-on-surface);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: var(--color-surface-tint);
  /* text-decoration: underline; */
  text-decoration-color: var(--color-on-primary-fixed);
}

.nome {
  font-size: 2rem;
}

.nome:hover {
  cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--color-on-surface);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-surface);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--color-on-surface);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}
.hamburger-icon span:first-child {
  opacity: 1;
}
.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

.picture {
  border-radius: 90px;
}

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
  color: var(--color-on-surface);
}

.section__text__p1 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  color: var(--color-on-background);
}

.title {
  font-size: 3rem;
  text-align: center;
  color: var(--color-on-background);
}

.title span{
  font-size: 3rem;
  text-align: center;
  color: var(--color-primary);
}


#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
  border: var(--color-primary);
}
.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}
.btn-color-1, .btn-color-2:hover {
  background: var(--color-primary);
  color: var(--color-on-primary);
}

.btn-color-1:hover {
  background: var(--color-secondary);
  border: var(--color-primary);
}
.btn-color-2 {
  background: var(--color-primary-fixed);
  color: var(--color-on-primary-fixed);
}
.btn-color-2:hover {
  border: var(--color-primary);
}

.btn-container {
  gap: 1rem;
}

